@model ShoppingCartVM
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-light ml-0">
				<div class="row align-items-center">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i>
						<p class="mb-0">@Localizer["ShoppingCartMsg"]</p>
					</div>
					<div class="col-6 text-end">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-info btn-sm">@Localizer["ConShoppingMsg"]</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@foreach(var item in Model.ShoppingCartList)
				{
					<div class="row">
						<div class="d-none d-lg-block col-lg-3 text-center py-2">
							<img src="@item.Product.ImageUrl" class="rounded" width="75%" />
						</div>
						<div class="col-12 col-lg-4 pt-md-3">
							<h5><strong>@Localizer["ProductMsg"]</strong></h5>
							<p><small>@item.Product.ProductName</small></p>
							<h5><strong>@Localizer["SizeMsg"]</strong></h5>
							<p><small>@item.Product.Size</small></p>
							<h5>@Localizer["EditionMsg"]</h5>
							<p><small>@item.Product.Edition</small></p>
							<h5>@Localizer["PrintingColorMsg"]</h5>
							<p><small>@item.Product.Printing</small></p>
						</div>
						<div class="col-12  col-lg-5 text-center row">
							<div class="col-4 text-md-right pt-4">
								<h6><strong>@Localizer["PriceMsg"] : @item.Product.Price.ToString("0.00") <span class="text-muted">x</span> @item.Count </strong></h6>
							</div>
							<div class="col-6 col-sm-4 col-lg-6 pt-2">
								<a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary">
									<i class="bi bi-plus-square"></i>
								</a> &nbsp;	&nbsp;
								<a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-warning">
									<i class="bi bi-dash-square"></i>
								</a>
							</div>
							<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
								<a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
									<i class="bi bi-trash-fill"></i>
								</a>
							</div>
						</div>
					</div>
					<hr />
				}				
				<hr />
				<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-info">@Localizer["TotalMsg"]</span>
								<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("0.00")</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<div class="card-footer row justify-content-end">
					<div class="col-sm-12 col-lg-4 col-md-6 pe-0">
						<a asp-action="Summary" class="btn btn-success-form-control">@Localizer["SummaryMsg"]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
