@model Category
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@Localizer["AddNewCatMsg"]</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            @* <label asp-for="CatName" class="p-0"></label> *@
            <label class="p-0">@Localizer["CategoryMsg"]</label>
            <input asp-for="CatName" class="form-control" />
            <span asp-validation-for="CatName" class="text-center text-bg-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            @* <label asp-for="DisplayOrder" class="p-0"></label> *@
            <label class="p-0">@Localizer["DisplayOrderMsg"]</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-center text-bg-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">
                    @Localizer["AddMsg"]
                </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">
                    @Localizer["BackToCategoryMsg"]
                </a>
            </div>
        </div>
    </div>
</form>

@* Client side validation by calling buildin Jquery under partial view page _ValidationScriptsPartial *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        /* with jquery buildin */
    }
}