@model Store
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@Localizer["EditMsg"]</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            @* <label asp-for="Name" class="p-0"></label> *@
            <label class="p-0">@Localizer["StoreNameMsg"]</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            @* <label asp-for="PhoneNumber" class="p-0"></label> *@
            <label class="p-0">@Localizer["TelMsg"]</label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
           @*  <label asp-for="Address" class="p-0"></label> *@
            <label class="p-0">@Localizer["AddressMsg"]</label>
            <input asp-for="Address" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            @* <label asp-for="District" class="p-0"></label> *@
            <label class="p-0">@Localizer["DistrictMsg"]</label>
            <input asp-for="District" class="form-control" />
        </div>        
        <div class="mb-3 row p-1">
           @*  <label asp-for="Description" class="p-0"></label> *@
            <label class="p-0">@Localizer["DescriptionMsg"]</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">@Localizer["UpdateMsg"]</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Store" asp-action="Index" class="btn btn-secondary border form-control">
                    @Localizer["BackToStoresListMsg"]
                </a>
            </div>
        </div>
    </div>
</form>
